.Rhistory
.RData
LDMP.zip
aws_credentials.json
*.mo
*.pickle
*.qm
*.doctree
*.pot
*.swp
*.swo
*.csv
*.rdb
*.rdx
*.o
*.dll
*.so
*.gz
*.geojson
.Rproj.user
*.pyc
*build/*
*/help/build/*
*/ext-libs/*
*/ext-src/*
*/ext-libs_32/*
*/ext-src_32/*
LDMP/gui/*.py
LDMP/resources.py
LDMP/data_prep_scripts/*
docs/build/*
docs/source/.doctrees/*
docs/source/static/*
LDMP/test/fixtures/*
invoke.yaml
trends.earth_admin_user_credentials.json
trends.earth_test_user_credentials.json
