git+https://github.com/ConservationInternational/trends.earth-schemas.git@v2.2.0
git+https://github.com/ConservationInternational/trends.earth-algorithms.git@v2.2.0
boto3
black[jupyter]
flask
plotly
pyqtgraph
pytest