invoke
boto3
sphinx
sphinx-design
sphinx-intl
sphinx-rtd-theme
sphinxcontrib-spelling
myst-parser
linkify-it-py
rst2pdf[svgsupport,rawhtmlsupport]
pylint
pip>=10.0.0
requests==2.32.4
PyQt5
black[jupyter]
flake8
reorder-python-imports
setuptools>=64
setuptools-scm>=8
