httplib2>=0.20.4
backoff>=2.1.0
requests>=2.28.0
pyqtgraph>=0.12.4
openpyxl>=3.0.10
marshmallow>=3.18.0
marshmallow_dataclass[enum, union]==8.5.10
git+https://github.com/ConservationInternational/trends.earth-schemas.git@develop
git+https://github.com/ConservationInternational/trends.earth-algorithms.git@develop

# test requirements
