/* table.align-center { */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     text-align: center; */
/* } */
div.admonition.note {
    background: #e2e2e2;
}
.rst-content .note .admonition-title {
    background: #646464;
}
.wy-nav-top {
    background-color: #646464;
}
.wy-side-nav-search {
    background-color: #646464;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #777
}
/* .wy-nav-side { */
/*     background: #222c32; */
/* } */
/* .rst-versions .rst-current-version { */
/*     background: #222c32; */
/* } */

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-table-responsive th p {
    margin-bottom: unset;
}

/* Status Matrix table styles */
.status-matrix {
    border-collapse: collapse;
    margin: 1em auto;
    text-align: center;
    font-size: 0.95em;
}
.status-matrix th,
.status-matrix td {
    border: 2px solid #333;
    padding: 0.6em 1em;
    vertical-align: middle;
}
.status-matrix .header-spanning {
    background-color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 3px solid #333;
}
.status-matrix .col-header {
    color: #fff;
    font-weight: bold;
}
.status-matrix .row-header-vertical {
    background-color: #fff;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    letter-spacing: 0.15em;
    padding: 0.8em 0.4em;
}
.status-matrix .row-header {
    font-weight: bold;
    color: #fff;
}
.status-matrix .cell-degraded {
    background-color: #9b2779;
    color: #fff;
}
.status-matrix .cell-stable {
    background-color: #ffffe0;
    color: #333;
}
.status-matrix .cell-improved {
    background-color: #006500;
    color: #fff;
}
.status-matrix .empty-cell {
    border: none;
    background-color: #fff;
}

/* SDG Aggregation two-table layout */
.sdg-aggregation-wrapper {
    text-align: center;
    margin: 1.5em 0;
}
.sdg-aggregation-wrapper .sdg-title {
    font-weight: bold;
    font-size: 1.15em;
    margin-bottom: 0.8em;
}
.sdg-aggregation-container {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
}
.sdg-aggregation-container table {
    border-collapse: collapse;
    font-size: 0.9em;
}
.sdg-aggregation-container th {
    background: #555;
    color: #fff;
    padding: 5px 14px;
    border: 1px solid #333;
    font-weight: bold;
    text-align: center;
}
.sdg-aggregation-container td {
    padding: 3px 14px;
    border: 1px solid #999;
    text-align: center;
}
.sdg-aggregation-container .cell-improved {
    background-color: #006500;
    color: #fff;
}
.sdg-aggregation-container .cell-stable {
    background-color: #ffffe0;
    color: #333;
}
.sdg-aggregation-container .cell-degraded {
    background-color: #9b2779;
    color: #fff;
}
.sdg-aggregation-arrow {
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 2em;
    color: #888;
    align-self: center;
}
.sdg-aggregation-container .cell-moderate-decline {
    background-color: #c0749b;
    color: #fff;
}
.sdg-aggregation-container .cell-stressed {
    background-color: #e1b9bd;
    color: #333;
}
