/* table.align-center { */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     text-align: center; */
/* } */
div.admonition.note {
    background: #e2e2e2;
}
.rst-content .note .admonition-title {
    background: #646464;
}
.wy-nav-top {
    background-color: #646464;
}
.wy-side-nav-search {
    background-color: #646464;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #777
}
/* .wy-nav-side { */
/*     background: #222c32; */
/* } */
/* .rst-versions .rst-current-version { */
/*     background: #222c32; */
/* } */

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.wy-table-responsive th p {
    margin-bottom: unset;
}

/* Status Matrix table styles */
.status-matrix {
    border-collapse: collapse;
    margin: 1em auto;
    text-align: center;
    font-size: 0.95em;
}
.status-matrix th,
.status-matrix td {
    border: 2px solid #333;
    padding: 0.6em 1em;
    vertical-align: middle;
}
.status-matrix .header-spanning {
    background-color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 3px solid #333;
}
.status-matrix .col-header {
    color: #fff;
    font-weight: bold;
}
.status-matrix .row-header-vertical {
    background-color: #fff;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    letter-spacing: 0.15em;
    padding: 0.8em 0.4em;
}
.status-matrix .row-header {
    font-weight: bold;
    color: #fff;
}
.status-matrix .cell-degraded {
    background-color: #cc33cc;
    color: #fff;
}
.status-matrix .cell-stable {
    background-color: #f5e6c8;
    color: #333;
}
.status-matrix .cell-improved {
    background-color: #4d6b3a;
    color: #fff;
}
.status-matrix .empty-cell {
    border: none;
    background-color: #fff;
}
