Pillow==8.3.1
pandas==1.1.2
numpy==1.19.0
matplotlib==3.3.1
matplotlib-scalebar==0.6.2
earthengine-api==0.1.232
rollbar==0.14.7
git+https://github.com/conservationinternational/landdegradation.git@v1.0.6
