Pillow==10.3.0
pandas==1.1.2
numpy==1.22.0
matplotlib==3.3.1
matplotlib-scalebar==0.6.2
earthengine-api==0.1.410
rollbar==1.0.0
git+https://github.com/conservationinternational/trends.earth-algorithms.git@v2.1.16
git+https://github.com/ConservationInternational/trends.earth-schemas.git@v2.1.16
