name: Build documentation PDFs

on:
  schedule:
    - cron: "0 5 * * 1,4"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_docs_pdfs:
    name: Build documentation PDFs
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: "x64"
          cache: pip
      - run: pip install -r requirements-dev.txt
      - name: Setup Latex
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-xetex texlive-fonts-recommended texlive-fonts-extra texlive-lang-arabic texlive-lang-chinese
      - name: Docs pre-build
        run: invoke rtd-pre-build
      - name: Build PDF and  push to S3
        run: invoke docs-build --pdf --upload
