name: Update translations

on:
  schedule:
    - cron: "0 4 * * 1,3,5"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  translation_update:
    if: ${{ github.ref_name == 'main' }}
    name: Update translations from transifex
    runs-on: ubuntu-latest
    env:
      TX_TOKEN: ${{ secrets.TX_TOKEN }}
      TX_HOSTNAME: ${{ secrets.TX_HOSTNAME }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"
          architecture: "x64"
          cache: pip
      - name: Install Qt lrelease tool
        run: sudo apt-get update && sudo apt-get install -y qttools5-dev-tools
      - run: pip install -r requirements-dev.txt
      - name: Install transifex CLI
        run: curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash
      - name: Pull updated strings from transifex
        run: invoke translate-pull
      - name: Push strings to transifex
        run: invoke translate-push
      - name: Create pull request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update translations
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: translation-updates
          delete-branch: true
          title: "Update translations"
          body: |
            Refresh translations
          labels: |
            i18n
            automated pr
          add-paths: |
            docs/i18n/**/*.po
            docs/source/for_users/downloads/index.md
            docs/source/for_developers/changelog.rst
            LDMP/i18n/*.ts
