name: Update downloads page

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build-download-page:
    if: ${{ github.ref_name == 'main' }}
    name: Rebuild downloads page
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          architecture: "x64"
          cache: pip
      - name: Install dependencies
        run: pip install -r requirements-dev.txt
      - name: Build downloads page
        run: invoke build-download-page
      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update downloads page
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: automation/update-downloads-page
          delete-branch: true
          title: "Update downloads page"
          body: |
            Refresh downloads page content from nightly automation.
          labels: |
            automated pr
            documentation
          add-paths: |
            docs/source/for_users/downloads/index.md
